.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30rem;
  right: 0;
  top: 10rem;
  bottom: 0;
  background-color: transparent;
  z-index: 4;
}

.editor-modal {
  position: relative;
}

.search-bar-input {
  margin: 1rem;
  min-width: 100px;
  width: 100%;
  height: 5vh;
  padding: 0.5rem 1.5rem;
  position: relative;
}
