:root {
  --primary-color: #8e94f2;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.hero-img {
  max-width: 62.5rem;
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.library-home-page {
  display: flex;
}

.library-home-sidebar {
  flex: 0.3;
}

.main-content-page {
  min-width: 62.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0.7;
  position: relative;
}

.menu {
  display: flex;
}

.two-box-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
}

.sub-section-container {
  max-width: 28.2rem;
  height: 16.9rem;
}

.sub-section {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.25rem;
}

.ss-image {
  display: block;
  object-fit: cover;
  max-width: 12rem;
  height: 14.1rem;
}

.sub-section-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.sub-menu .btn-link {
  color: white;
}

.main-content-page .home-page-subheading {
  text-align: left;
}

/*notes*/

.notes-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
}

.notes-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

.notes-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
  height: auto;
  border: 1px solid black;
  gap: 20px;
  padding: 1rem;
}

.notes-title-container {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  color: var(--primary-color);
}

.notes-body {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.notes-body .rdw-editor-main {
  max-width: 500px;
  width: 100%;
}

.notes-container .notes-label-type {
  padding: 0.2rem;
  border-radius: 0.3rem;
  background-color: rgb(175, 171, 171);
  display: inline-block;
  max-width: 280px;
  width: fit-content;
  padding: 0.5rem;
}

.search-bar-container {
  position: absolute;
  inset: 0;
}
