.hero-img {
  max-width: 62.5rem;
  position: absolute;
  top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.library-home-page {
  display: flex;
}

.library-home-sidebar {
  flex: 0.3;
}

.main-content-page {
  min-width: 62.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 0.7;
  position: relative;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
}

.main-content-page .home-page-subheading {
  text-align: left;
}

/*notes*/

.notes-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primary-color);
  font-weight: 700;
  gap: 1.063rem;
}

.notes-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

.notes-container {
  display: flex;
  flex-direction: column;
  max-width: 31.875rem;
  width: 100%;
  border: 1px solid var(--hover-grey);
  border-radius: 0.5rem;
  gap: 1.25rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
  max-height: 24rem;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: var(--btn-box-shadow);
}

.notes-title-container {
  display: flex;
  justify-content: space-between;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.material-icons,
.material-icons-outlined {
  color: var(--primary-color);
  cursor: pointer;
}

.library-home-page .material-icons-outlined {
  margin-right: 0;
}
.notes-container .notes-label-type {
  border-radius: 0.3rem;
  background-color: var(--hover-grey);
  display: inline-block;
  max-width: 17.5rem;
  width: fit-content;
  padding: 0.5rem;
}

.notes-label-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.notes-editor-conatiner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-breaker {
  margin: 0.5rem;
  max-width: 31.875rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jodit-status-bar {
  visibility: hidden;
}

.priority-tab select {
  padding: 0.1rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 700;
}

.modal-background-page {
  opacity: 0;
  height: auto;
}
