.simple-header > .header {
  position: fixed;
  height: 10vh;
  width: 100%;
  min-width: 0;
  border: none;
  box-shadow: var(--btn-box-shadow);
  z-index: 999;
  top: 0;
  overflow: auto;
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 4rem;
}

.nav-brand {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  font-size: 2.8rem;
  color: var(--light-raisin-black);
}
