.notes-side-bar {
  position: fixed;
  top: 10vh;
  left: 0;
  height: calc(100% - 10vh);
  flex: 0.3;
  max-width: 15.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  box-shadow: var(--btn-box-shadow);
  background-color: var(--white);
}

.notes-sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notes-sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: bold;
  align-items: flex-start;
  padding-left: 2rem;
  font-size: 0.9rem;
}

.notes-side-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: var(--raisin-black);
}

.profile-details .notes-side-links {
  gap: 10px;
  font-size: 1rem;
}

.notes-side-links:hover {
  font-size: 1rem;
}

.notes-side-links > Link:hover {
  color: var(--raisin-black);
  transition: 200ms color ease-in;
}

.notes-sidebar-menu .profile-details {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 3vh;
}

.profile-details .avatar {
  margin: 0;
}

.btn .btn-cta:hover {
  background-color: var(--dark-primary-color);
  color: var(--primary-color);
}

a:-webkit-any-link {
  text-decoration: none;
}

.App.dark .notes-side-bar {
  background-color: var(--light-raisin-black);
}

.App.dark .notes-side-links {
  color: var(--white);
}

.desktop-hide {
  display: none;
}

@media screen and (max-width: 567px) {
  .notes-side-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto;
    max-width: 48rem;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    box-shadow: var(--btn-box-shadow);
    background-color: var(--white);
  }

  .notes-side-links > div {
    display: none;
  }

  .notes-sidebar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .profile-details {
    display: none !important;
  }

  .mobile-hide {
    display: none !important;
  }

  .notes-side-bar .btn {
    margin: 0;
    background-color: var(--white);
    border-radius: 100%;
    padding: 0.3rem;
    position: absolute;
    right: 2rem;
    bottom: 5rem;
    display: block;
  }
}
