.page-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-heading {
  font-size: 6.25rem;
  letter-spacing: 1.2rem;
}

.page-subheading {
  font-size: 1.25rem;
}
